# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude .direnv
.direnv

# Exclude precommit hooks config
.pre-commit-config.yaml

# --- Server: generated / large / stateful ---
srv/mods/
srv/libraries/
srv/configureddefaults/
# Exclude ALL configs
srv/config/*
# But allow specific configs to be included in the repo
# Example: !srv/config/config.yml
srv/world/
srv/world_nether/
srv/world_the_end/
srv/logs/
srv/crash-reports/
srv/*.jar
srv/defaultconfigs/
srv/versions/
srv/eula.txt
srv/banned-ips.json
srv/banned-players.json
srv/ops.json
srv/whitelist.json
srv/usercache.json
srv/server.properties
srv/.mixin.out
srv/backups
srv/dynamic-data-pack-cache
srv/global_packs
srv/database.db*
srv/neoforge-installer.jar.log