# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude .direnv
.direnv

# Exclude precommit hooks config
.pre-commit-config.yaml

srv/libraries
srv/logs
srv/world
srv/banned-ips.json
srv/banned-players.json
srv/eula.txt
srv/help.yml
srv/ops.json
srv/usercache.json
srv/usernamecache.json